.game{
  background-color: white;
  padding: 10px;
}

.status{
  padding: 10px;
}

.board{
  /* margin: auto; */
  display: grid;
  gap:0;
  border-collapse: collapse; 
}

.grid-select{
  width: 200px;
  margin-right: 10px;
  /* background-color: #fff; */
  height: 50px;
}
 /* 3x3 Grid */
 .grid-3 {
  grid-template-columns: repeat(3, auto);
  /* grid-template-rows: repeat(3, auto); */
}

/* 4x4 Grid */
.grid-4 {
  grid-template-columns: repeat(4, auto);
  /* grid-template-rows: repeat(4, auto); */
}

/* 5x5 Grid */
.grid-5 {
  grid-template-columns: repeat(5, auto);
  /* grid-template-rows: repeat(5, auto); */
}

.block{
  /* width: 40px; */
  border-radius: 0;
  height: 40px;
  border: black solid 1px;
  background: #fff;
  color: #000;
  outline: none;
  box-sizing: border-box;
}